html, body {
  margin: 20px;
}
span.id {
  display: inline-block;
  width: 20px;
}
span.name {
  display: inline-block;
  width: 150px;
}

button {
  font-size: 15px;
  width: 200px;
  height: 40px;
}

.active {
  background: #337ab7;
}
